<p class="font-medium text-6xl flex justify-content-center gap-4">Education</p>
<div class="grid flex justify-content-center">
  <div class="col-3 flex justify-content-end">
    <div class="card w-5 h-9">
      <p-image src="/assets/sadao.jpg" alt="angular" width="90%" />
    </div>
  </div>
  <div class="col-3 flex justify-content-start">
    <div class="card w-9 h-9">
      <p>Science Maths Program</p>
      <p>Sadao Khanchai Kampalanon Anusor</p>
      <p>2014 - 2019</p>
      <p>GPA : 3.03</p>
    </div>
  </div>
  <div class="col-3 flex justify-content-end">
    <div class="card w-5 h-9">
      <p-image src="/assets/PSU.png" alt="angular" width="60%" />
    </div>
  </div>
  <div class="col-3 flex justify-content-start">
    <div class="card w-9 h-9">
      <p>Computer Engineering</p>
      <p>Prince of Songkhla University</p>
      <p>2020 - 2024</p>
      <p>GPA : 2.67</p>
    </div>
  </div>
</div>

<p class="font-medium text-6xl flex justify-content-center gap-4 my-4">
  Skills
</p>
<p class="text-500 font-medium text-2xl flex justify-content-center -mt-2 mb-5">
  Programming Language
</p>
<div class="grid flex justify-content-center">
  <div class="col-3 flex justify-content-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image
          src="/assets/angular.png"
          alt="angular"
          width="100%"
          height="100%"
        />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        Angular Framework
      </p>
    </div>
  </div>
  <div class="col-3 flex justify-content-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image
          src="/assets/html.png"
          alt="html"
          width="100%"
          height="150px"
        />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        HTML
      </p>
    </div>
  </div>
  <div class="col-3 flex justify-content-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image src="/assets/css.svg" alt="css" width="100%" height="150px" />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        CSS
      </p>
    </div>
  </div>
  <div class="col-3 flex justify-content-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image
          src="/assets/primeng.png"
          alt="primeng"
          width="100%"
          height="150px"
        />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        Primeng
      </p>
    </div>
  </div>
</div>

<div class="grid flex justify-content-center my-6">
  <div class="col-3 flex justify-content-center align-items-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image
          src="/assets/PrimeFlexLogo.svg"
          alt="PrimeFlex"
          width="100%"
          height="100%"
        />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        PrimeFlex
      </p>
    </div>
  </div>
  <div class="col-3 flex justify-content-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image
          src="/assets/typescript.png"
          alt="typescript"
          width="100%"
          height="150px"
        />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        Typescript
      </p>
    </div>
  </div>

  <div class="col-3 flex justify-content-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image
          src="/assets/C_Programming_Language.svg.png"
          alt="C_Programming"
          width="100%"
          height="150px"
        />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        C language
      </p>
    </div>
  </div>
</div>

<p class="text-500 font-medium text-2xl flex justify-content-center my-6">
  Tool
</p>
<div class="grid flex justify-content-center">
  <div class="col-3 flex justify-content-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image
          src="/assets/Wordpress_Blue_logo.png"
          alt="Wordpress"
          width="100%"
          height="150"
        />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        Wordpress
      </p>
    </div>
  </div>
  <div class="col-3 flex justify-content-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image
          src="/assets/Figma.png"
          alt="Figma"
          width="100%"
          height="150px"
        />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        Figma
      </p>
    </div>
  </div>
  <div class="col-3 flex justify-content-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image
          src="/assets/PS.png"
          alt="Photoshop"
          width="100%"
          height="150px"
        />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        Adobe Photoshop
      </p>
    </div>
  </div>
  <div class="col-3 flex justify-content-center">
    <div class="card w-9 h-9">
      <div class="flex justify-content-center">
        <p-image
          src="/assets/vs_code.jfif"
          alt="vs_code"
          width="100%"
          height="150px"
        />
      </div>
      <p
        class="m-0 text-color-secondary font-semibold text-xl flex justify-content-center"
      >
        Visual Studio Code
      </p>
    </div>
  </div>
</div>

<p class="font-medium text-6xl flex justify-content-center gap-4 my-4">
    Project
  </p>