<div class="bg-blue-50">
  <div class="card flex justify-content-center mt-4">
    <div>
      <p class="font-medium text-6xl flex justify-content-center gap-4">
        Skill & Soft Skills
        <p-image src="/assets/pencil.png" alt="icon" width="45" />
      </p>

      <div class="grid gap-4 my-4">
        <div class="col flex justify-content-center">
          <div class="card w-9 h-9">
            <p-card class="shadow-3">
              <div class="flex justify-content-center">
                <p-image src="/assets/angular.png" alt="angular" width="100%" />
              </div>
              <p
                class="m-0 text-color-secondary font-semibold text-2xl flex justify-content-center"
              >
                Angular Framework
              </p>
            </p-card>
          </div>
        </div>
        <div class="col flex justify-content-center">
          <div class="card w-9 h-9">
            <p-card class="shadow-3">
              <div class="flex justify-content-center">
                <p-image
                  src="/assets/html.png"
                  alt="html"
                  width="100%"
                  height="150px"
                />
              </div>
              <p
                class="m-0 text-color-secondary font-semibold text-2xl flex justify-content-center"
              >
                HTML
              </p>
            </p-card>
          </div>
        </div>
        <div class="col flex justify-content-center">
          <div class="card w-9 h-9">
            <p-card class="shadow-3">
              <div class="flex justify-content-center">
                <p-image
                  src="/assets/css.svg"
                  alt="css"
                  width="100%"
                  height="150px"
                />
              </div>
              <p
                class="m-0 text-color-secondary font-semibold text-2xl flex justify-content-center"
              >
                CSS
              </p>
            </p-card>
          </div>
        </div>
      </div>

      <div class="grid gap-6 my-4">
        <div class="col flex justify-content-end">
          <div class="card w-6 h-6">
            <p-card class="shadow-3">
              <div class="flex justify-content-center">
                <p-image
                  src="/assets/primeng.png"
                  alt="primeng"
                  width="100%"
                  height="125px"
                />
              </div>
              <p
                class="m-0 text-color-secondary font-semibold text-2xl flex justify-content-center"
              >
                Primeng
              </p>
            </p-card>
          </div>
        </div>
        <div class="col flex justify-content-start">
          <div class="card w-6 h-6">
            <p-card class="shadow-3">
              <div class="flex justify-content-center">
                <p-image
                  src="/assets/typescript.png"
                  alt="typescript"
                  width="100%"
                  height="125px"
                />
              </div>
              <p
                class="m-0 text-color-secondary font-semibold text-2xl flex justify-content-center"
              >
                Typescript
              </p>
            </p-card>
          </div>
        </div>
      </div>
      <p-button
        label="Read Morn"
        severity="help"
        class="flex justify-content-center my-4"
        routerLink="/about"
      />
    </div>
  </div>
</div>

<div class="bg-purple-100">
  <div class="card flex justify-content-center">
    <div>
      <p class="font-medium text-6xl flex justify-content-center gap-2">
        Internship
        <p-image src="/assets/working-man.png" alt="icon" width="45" />
      </p>
      <div class="grid gap-8 my-2">
        <div class="col flex justify-content-center">
          <div class="card w-12 h-12">
            <div class="card flex justify-content-center my-2">
              <img
                src="/assets/intern.jpg"
                alt="Profile Image"
                width="350"
                class="border-round-2xl"
              />
            </div>
          </div>
        </div>
        <div class="col flex justify-content-center w-30rem">
          <div class="w-12 h-12">
            <p class="text-4xl card line-height-1 my-2">Experience</p>
            <p class="text-4xl card line-height-1 my-2">Bonmek Co.,Ltd.</p>
            <p class="text-2xl mt-4">Frontend Developer</p>
            <p class="text-2xl -my-4">Jun - Oct 2024</p>
          </div>
        </div>
      </div>
      <p-button
        label="Read Morn"
        severity="help"
        class="flex justify-content-center my-4"
        routerLink="/intern"
      />
    </div>
  </div>
</div>

<div class="bg-yellow-100">
  <div class="card flex justify-content-center">
    <div>
      <p class="font-medium text-6xl flex justify-content-center gap-2">
        Contact Me
        <p-image src="/assets/working-man.png" alt="icon" width="45" />
      </p>
      <div class="my-2">
        <div class="flex justify-content-center w-30rem">
          <div class="w-12 h-12">
            <p
              class="flex align-items-center gap-2 text-xl card line-height-1 my-2"
            >
              <p-image src="/assets/facebook.png" alt="icon" width="40" /> FB:
              Watcharawit Saejung
            </p>
            <p
              class="flex align-items-center gap-2 text-xl card line-height-1 my-2"
            >
              <p-image src="/assets/whatsapp.png" alt="icon" width="40" />Phone:
              094-3181548
            </p>
            <p
              class="flex align-items-center gap-2 text-xl card line-height-1 my-2"
            >
              <p-image src="/assets/gmail.png" alt="icon" width="40" /> E-mail:
              <a href="mailto:watcharawit.saejung@gmail.com"
                >watcharawit.saejung&#64;gmail.com</a
              >
            </p>
            <p
              class="flex align-items-center gap-2 text-xl card line-height-1 my-2"
            >
              <p-image src="/assets/github.png" alt="icon" width="40" /> Github:
              <a href=" https://github.com/Watcharawit7">
                https://github.com/Watcharawit7</a
              >
            </p>
          </div>
        </div>
      </div>
      <p-button
        label="Read Morn"
        severity="help"
        class="flex justify-content-center my-4"
        routerLink="/intern"
      />
    </div>
  </div>
</div>
